@import url("https://fonts.googleapis.com/css2?family=Vibur&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Monsieur+La+Doulaise&family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  align-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto", cursive;
  color: #ffffff;
}
.bg__img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* за контентом */
  background-image: image-set(
    "../images/LOGO.avif" type("image/avif"),
    "../images/LOGO.webp" type("image/webp"),
    "../images/LOGO.JPG" type("image/jpeg")
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  padding: 0 10px;
  margin: 5rem auto;
}
.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;

  align-content: center;
}
.header__flex {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-self: center;
  justify-self: center;
}
.header__child {
  flex-direction: column;
  flex: 1;
  text-align: center;
  align-content: center;
  justify-content: center;
}
.name {
  font-family: "Brygada 1918", serif;
  font-weight: 700;
  font-size: 8rem;
  color: #ffffff;
  text-align: center;
}
.date {
  font-family: "Stix to text", serif;
  font-weight: 400;
  font-size: 5rem;
  color: #ffffff;
  text-align: center;
  margin-top: 3rem;
}
.and {
  font-family: "Monsieur La Doulaise";
  font-weight: 400;
  font-size: 8rem;
  color: #ffffff;
  text-align: center;
}
.wedding {
  font-family: "Monsieur La Doulaise";
  font-weight: 400;
  font-size: 10rem;
  color: #ffffff;
  text-align: center;
  margin: 4rem auto;
}

.date__image {
  align-items: center;
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
}
.date__title {
  font-size: 3rem;
  font-weight: 300;
}
.timing__child_title {
  font-size: 4rem;
  font-weight: 500;
  margin: 1rem 2rem;
}
.timing__child_item {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;

  font-size: 4rem;
  line-height: 1.5;
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  font-weight: 200;
}

.timing__child_time {
  font-weight: 500;
}
.timing__child_event {
  display: block;
}
.timing__child_discription {
  font-size: 2rem;
}
.adress__button {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 8%;
  height: 8%;
  border-radius: 10px;
  color: white;
  transition: 0.2s ease-in-out;
  background: #ff1515;
  font-weight: 300;
  font-size: 2.5rem;
}
.adress__button:hover {
  -webkit-transform: rotateZ(5deg);
  -ms-transform: rotateZ(5deg);
  transform: rotateZ(5deg);
}
.dress__wrapper {
  background: #ffffff;
  color: #1a1a1a;
  border-radius: 32px;
  padding: 1rem;
  text-align: center;
  font-weight: 200;
}
.dress-code__title {
  font-size: 2.2rem;
  font-weight: 400;
  margin: 1rem;
}

.dress-code__title h2 {
  font-weight: 300;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #1a1a1a;
  position: relative;
  display: inline-block;
}
.dress-code__title h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #cccccc;
  margin: 1.2rem auto 0;
  border-radius: 1px;
}
.dress-code__discription {
  font-size: 1.5rem;
  margin: 1rem 0.2rem;
}
.dress-code__exampel {
}
.dress-code__exampel-img {
  max-width: 100%;
  max-height: 100%;
}
.footer {
  color: #cccccc;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .container {
    margin: 2.5rem auto;
  }
  .adress__button {
    width: 33%;
    height: 100px;
  }
  .dress-code__exampels-looks__item {
    width: 1020px;
  }
  .name {
    font-size: 5rem;
  }
  .date {
    font-size: 3rem;
    margin-top: 1rem auto;
  }
  .and {
    font-size: 5rem;
  }
  .wedding {
    font-size: 7rem;
    margin: 1rem auto;
  }
  .date__image {
    font-size: 1.4rem;
  }
  .date__title {
    font-size: 2rem;
  }
  .dress__wrapper {
    background: #ffffff;
    color: #1a1a1a;
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    font-weight: 200;
  }
  .dress-code__title {
    font-weight: 400;
    margin: 2rem;
  }
  .dress-code__discription {
    font-size: 1rem;
  }
  .dress-code__exampel {
  }
  .dress-code__exampel-img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 480px) {
  .name {
    font-size: 4rem;
  }
  .date {
    font-size: 3rem;
  }
  .and {
    font-size: 5rem;
  }
  .wedding {
    font-size: 3rem;
  }
  .dress-code__title {
    font-size: 2rem;
    margin: 0.2rem;
  }
}
